<%- include('head'); %>
<body onload="reload()">
	<%- include('navbar', { loggedIn: loggedIn }) %>
	<h1><%= title %></h1>
	<div class="container">
		<section class="snitch">
				<article class="snitch-sentence">
					<span class="snitch-title">
					</span>
					<span class="snitch-text">
						<p id="totalScore"></p>
						<p id="snitch-team"></p>
						<p id="snitch-time"></p>
						<p>You can choose to lock in your current scores and the points you have right now will be added to your grand total.</p>
						<p>Please note: You can only lock in your scores once.</p>
						<div>
							<button id="lockedInButton" class="btn btn-info" onclick="lockInScores()">Lock In Scores</button>
						</div>
					</span>
				</section>
				</article>


		<div class="matches-black-container"></div>
		<div class="matches-table-rows">
			<%var id = 0%>
			<% meme.matches.forEach((match) => { %>
			<div class="matches-match">
				<div class="matches-team">
					<img src="../images/<%= match[0].image %>" alt="" class="matches-logo" />
					<div class="matches-team-name"><%= match[0].teamName %><span id="score<%= id++%>"></span></div>
				</div>
				
				<div class="versus-flexbox">
					<div class="versus">
						<img class="versus" src="/images/broom_versus_white.png" alt="Versus sign" />
					</div>
					<div class="matches-team-name"><span id="userScore<%= id%>">Score</span></div>
				</div>

				<div class="matches-team">
					<img src="../images/<%= match[1].image %>" alt="" class="matches-logo" />
					<div class="matches-team-name"><%= match[1].teamName %><span id="score<%= id++%>"></span></div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
	<%- include('footer'); %>
</body>
