<%- include('head'); %>
<body>
  <%- include('navbar') %>
  <h1>Matches</h1>
  <div class="container">
    <div class="quidditch-logo"><img class="quidditch-logo-img" src="../images/quidditch-logo2.png"></div>
    <div class="table-rows">
      <% meme.forEach((game) => { %> <% game.matches.forEach((match) => { %>
        <div class="match">

          <div class="team">
            <img src="../images/<%= match[0].image %>" alt="" class="logo" />
            <div class="team-name"><%= match[0].teamName %></div>
          </div>

          <div class="versus">
            <img class="versus" src="/images/broom_versus_white.png">
          </div>

          <div class="team">
            <img src="../images/<%= match[1].image %>" alt="" class="logo" />
            <div class="team-name"><%= match[1].teamName %></div>
          </div>
        </div>
        
      <% }) %> <% }) %>
    </div>
  </div>
  <div>
  <%- include('footer'); %>
</body>
