<%- include('head'); %>
<body>
  <%- include('navbar', { loggedIn: loggedIn }) %>
  <h1><%= title %></h1>
  <div class="container">
    <div class="table-rows">
      <% meme.forEach((game) => { %> <% game.matches.forEach((match) => { %>
      <div class="match">
        <div class="team">
          <img src="../images/<%= match[0].image %>" alt="" class="logo" />
          <div class="team-name"><%= match[0].teamName %></div>
        </div>

        <div class="spinBox">
          <button
            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
            class="up"
          ></button>
          <input type="number" min="0" step="10" value="0" />
          <button
            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
            class="down"
          ></button>
        </div>

        <div class="versus">
          V
        </div>

        <div class="spinBox">
          <button
            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
            class="up"
          ></button>
          <input type="number" min="0" step="10" value="0" />
          <button
            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
            class="down"
          ></button>
        </div>

        <div class="team">
          <img src="../images/<%= match[1].image %>" alt="" class="logo" />
          <div class="team-name"><%= match[1].teamName %></div>
        </div>
      </div>
      <% }) %> <% }) %>
    </div>
  </div>
  <div>
    <button>Place Bets</button>
  </div>
  <%- include('footer'); %>
</body>
