<%- include('navbar') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matches</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% meme.forEach((game) => { %>
            <% game.matches.forEach((match) => { %>
                <li>
                    <%= match[0].teamName %> VS <%= match[1].teamName %> 
                </li>
            <% }) %>
        <% }) %>
    </ul>
</body>
</html>
<%- include('footer'); %>