<%- include('head'); %>
<body>
  <%- include('navbar', { loggedIn: loggedIn }) %>
  <h1><%= title %></h1>
  <div class="container">
    <form action="/api/user/predictions" method="POST">
      <div class="matches-table-rows">
        <% meme.forEach((game) => { %> <% game.matches.forEach((match) => { %>
        <div class="matches-match">
          <div class="matches-team">
            <img src="../images/<%= match[0].image %>" alt="<%= match[0].teamName %>" class="matches-logo" />
            <div class="matches-team-name">
              <%= match[0].teamName %>
            </div>
          </div>

          <div class="spinBox">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="up" type="button"></button>
            <input type="number" min="0" step="10" value="0" name=<%= match[0].teamID %> />
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="down" type="button"></button>
          </div>

          <img class="matches-versus" src="/images/broom_versus_white.png" alt="Versus sign" />

          <div class="spinBox">
            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="up" type="button"></button>
            <input type="number" min="0" step="10" value="0" name=<%= match[1].teamID %> />
            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="down" type="button"></button>
          </div>

          <div class="matches-team">
            <img src="../images/<%= match[1].image %>" alt="<%= match[1].teamName %>" class="matches-logo" />
            <div class="matches-team-name">
              <%= match[1].teamName %>
            </div>
          </div>
        </div>
        <% }) %> <% }) %>
      </div>

      <div class="snitch">
        <div class="snitch-title"><p>Golden Snitch Prediction</p></div>
        <img src="../images/SNITCH.png" alt="" class="snitch-logo" />
        <div class="guess-snitch-team">
          <select name="guess-snitch_team">
            <option selected value="base">Select a team</option>
            <!-- <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option> -->
            <script>
              var quidditchTeams = document.getElementById("guess-snitch-team");
              for (let i = 0; i < team.length; i++) {
                var option = document.createElement("option");
                option.innerHTML = team[i].teamName;
                option.value = team[i].teamID;
                quidditchTeams.options.add(option);
              }
            </script>
          </select>
        </div>
        <input type="text" name="snitchGuess" placeholder="0" />
        <div class="snitch-text">
          <p>Enter prediction for the minute the Golden Snitch is caught first and by which team!</p>
        </div>
      </div>

      <div>
        <input type="submit" value="Submit Scores" z-index="3000" />
      </div>
    </form>
  </div>

  <%- include('footer'); %>
</body>
