  <%- include('head'); %>
  <body>
    <%- include('navbar') %>
    <h1>Register</h1>
    <main class="container">
          <!-- Bootstrap register form -->
      <form class="text-center border border-light p-5" action="/api/user" method="POST" onsubmit="addUser()">
        <p class="h2 mb-4">Register</p>
        <div class="form-row mb-4">
            <div class="col">
                <!-- First name -->
                <input type="text" name="firstname" value="<%= user.firstname %>" class="form-control" placeholder="First name" aria-label="First Name">
                <div class="error" id="firstnameerror"><%= firstnameerror %></div>
            </div>
            <div class="col">
                <!-- Last name -->
                <input type="text" name="lastname" value="<%= user.lastname %>" class="form-control" placeholder="Last name" aria-label="Last Name">
                <div class="error"><%= lastnameerror %></div>
            </div>
        </div>
        <!-- Username  -->
        <input type="text" name="username" value="<%= user.username %>" class="form-control mb-4" placeholder="Username" aria-label="Username">
        <div class="error"><%= usernameerror %></div>
        <!-- Password -->
        <input type="password" name="password" value="<%= user.password %>" class="form-control mb-4" placeholder="Password" aria-label="Password">
        <div class="error"><%= passworderror %></div>
        <!-- E-mail -->
        <input type="email" name="email" value="<%= user.email %>" class="form-control mb-4" placeholder="E-mail" aria-label="E-mail">
        <div class="error"><%= emailerror %></div>
        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Register</button>
      </form>
    </main>
    <%- include('footer'); %>
