<%- include('head'); %>
<body>
  <%- include('navbar', { loggedIn: loggedIn }) %>
  <h1> Results</h1>
  <div class="container">
      <div>Total score <%= meme.totalScore %></div>
      <div> You guessed team <%= meme.firstGoldenSnitchTeamPrediction %> was going to catch the golden snitch... Team <%= meme.firstGoldenSnitchTeamResult %> actually got it</div>
      <div class="matches-black-container"></div>
      <div class="matches-table-rows">
        <% meme.matches.forEach((match) => { %>
        <div class="matches-match">

          <div class="matches-team">
            <img src="../images/<%= match[1].image %>" alt="" class="matches-logo" />
            <div class="matches-team-name"><%= match[1].teamName %></div>
            <div>Result <%= match[1].result %> </div>
            <div>Prediction <%= match[1].prediction %> </div>
          </div>

          <div class="spinBox">
            <div>Your Score <%= match[0].score %> </div>
          </div>

          <div class="matches-versus">V</div>

          <div class="spinBox">
              <div><%= match[0].result %></div>
          </div>

          <div class="matches-team">
            <img src="../images/<%= match[2].image %>" alt="" class="matches-logo" />
            <div class="matches-team-name"><%= match[2].teamName %></div>
          </div>
        </div>
        <% }) %>
      </div> 
  </div>
  <%- include('footer'); %>
