<%- include('head'); %>
<body>
  <%- include('navbar', { loggedIn: loggedIn }) %>
  <h1> Results</h1>
  <div class="container">
    <section class="snitch">
      <article class="snitch-sentence">
        <span class="snitch-title">
          <p>Results</p>
        </span>
        <span class="snitch-text">
          <p>Team to Catch Golden Snitch First Prediction: <%= meme.firstGoldenSnitchTeamPrediction %> </p>
          <p>The First Golden Snitch Was Caught by: <%= meme.firstGoldenSnitchTeamResult %> </p>
          <p>The Time Predicted For The First Golden Snitch Was: <%= meme.firstGoldenSnitchTimePrediction %> Minutes</p>
          <p>The Time For The First Golden Snitch To Be Caught Was: <%= meme.firstGoldenSnitchTimeResult %> Minutes</p>
          <p>Your Total Score: <%= meme.totalScore %></p>
        </span>
    </section>
    </article>
    <div class="matches-table-rows">
      <% meme.matches.forEach((match) => { %>
      <section class="matches-match">

        <article class="matches-team">
          <img src="../images/<%= match[1].image %>" alt="" class="matches-logo" />
          <h2 class="matches-team-name"><%= match[1].teamName %></h2>
          <div class="score-text">
            <div>Score: <%= match[0].score %> </div>
          </div>
        </article>
        
        <div class="prediction-and-result">
          <div class="result-text">
            <div>Prediction: <%= match[1].prediction %> </div> <!--was in class spinBox-->
          </div>
          <div class="result-text">
            <div>Result: <%= match[1].result %></div> <!--was in class spinBox-->
          </div>
        </div>
        

        <img class="matches-versus" src="/images/broom_versus_white.png" alt="Versus sign" />
        
        <div class="prediction-and-result">
          <div class="result-text">
              <div>Prediction: <%= match[2].prediction %> </div> <!--was in class spinBox-->
          </div>
  
          <div class="result-text">
              <div>Result: <%= match[2].result %></div>
          </div>
        </div>

        <article class="matches-team">
          <img src="../images/<%= match[2].image %>" alt="" class="matches-logo" />
          <h2 class="matches-team-name"><%= match[2].teamName %></h2>
        </article>
      </section>
      <% }) %>
    </div>
  </div>
  <%- include('footer'); %>
</body>